body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1a1a1a; /* Optional: matching dark background */
}



.auth-container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  justify-content: center;
  background-color: #111;
  border: 1px solid #222;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #d4f0ff;
}


.auth-title {
  text-align: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #6af1ff;
}


.auth-form {
  display: flex;

  flex-direction: column;
  gap: 45px;
}


input {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #777;
}

button {
  padding: 12px;
  background: linear-gradient(to right, #ff3c3c, #6af1ff);
  border: none;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #ff6f6f, #b0faff);
}


.error-message {
  color: #ff4d4d;
  font-size: 14px;
  text-align: center;
}
